.site-header{
    background-color:#2c2cbfed;
    color: whitesmoke;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    
}

a {
    text-decoration: none;
}

.site-header-content {
    margin: 10px;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #251e3d 2px 5px 5px;
}

.course-link{
color: whitesmoke;
} 

body{
    margin:0;
}